header{
	width: 100%;
	background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
}
content{
	margin: 0 0 0 0;
	height: 50px;
	width: 90%;
	display: -webkit-box;
}

.logo{
	width: 5%;
}
.search{
	width: 40%;
	padding-top: 1%;
}
.my_profile{
	width: 5%;
}
.exit{
	width: 5%;
	padding-top: 1%;
}
.null{
	width: 40%;
}
.exit button{
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.exit button:hover{
	color: rgb(24,24,24);
  	border: 1px solid rgb(198,198,198);
  	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  	box-shadow: 0 1px 2px rgba(0,0,0,.1);
    cursor: pointer;
}
.exit button:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}