body{
	margin: 0;
	padding: 0;
	font-family: arial;
}
header{
	width: 100%;
	background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    min-height: 42px;
    position: relative;
    z-index: 1;
}
section{
	width: 100%;
	position: relative;
	z-index: 1;
	background-image: #E9EBEE;
}
footer{
	width: 100%;
	position: relative;
	z-index: 1;
	background-image: #FFFFFF;
}

.headercontent{
	width: 80%;
	height: 100px;
	margin: 0 auto;
}
.logo{
	float: left;
	width: 51%;
	height: 100%;

}
.login{
	float: right;
	width: 48%;
	height: 100%;
	display: inline-flex;
}

.email_login{
	width: 45%;
	padding-top: 3%;
}
.password_login{
	width: 35%;
	padding-top: 3%;
}
.button_login{
	width: 20%;
}

.email_login label{
	color: white;
	font-size: 10px;
}
.password_login label{
	color: white;
	font-size: 10px;
}

.email_login input{
	width: 70%;
}
.password_login input{
	width: 70%;
}
.button_login button{
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.button_login button:hover{
	color: rgb(24,24,24);
  	border: 1px solid rgb(198,198,198);
  	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button_login button:active{
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}


.content_body{
	width: 80%;
	height: 600px;
	margin: 0 auto;
}
.about{
	float: left;
	width: 54%;
	height: 100%;
	padding-right: 5%;
}
.reg{
	float: right;
	width: 45%;
	height: 100%;
}
.reg button{
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.reg button:hover{
	color: rgb(24,24,24);
  	border: 1px solid rgb(198,198,198);
  	background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
