body{
	background: #E9EBEE;
}
h1{
	font-size: 20px;
}
p{
	font-size: 13px;
}
.user{
	width: 70%;
	height: 700px;
}
.data{
	width: 100%;
	height: 300px;
	display: inline-flex;
}

.user_img{
	width: 30%;
	height: 100%;
}
.user_data{
	width: 70%;
	height: 100%;
}
.user_img img{
	width: 80%;
	height: auto;
}
.friends{
	width: 30%;
	height: 90%;
	background: white;
	border-radius: 3%;
}
.articles{
	width: 70%;
	height: 100%;
	border: 1px solid #EAEBED;
	background: white;
}
.articles h1{
	font-size: 15px;
}
.data_bottom{
	width: 100%;
	height: auto;
	display: inline-flex;
    padding-top: 100px;
}
.add_post{

}
.add_post form textarea{
	width: 100%;
}


import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background-color: rgb(229, 229, 229);
    padding-top: 60px;
    padding-bottom: 30px;
}

.panel-google-plus {
    position: relative;
    border-radius: 0px;
    border: 1px solid rgb(216, 216, 216);
    font-family: 'Roboto', sans-serif;
}
.panel-google-plus > .dropdown {
    position: absolute;
    top: 5px;
    right: 15px;
}
.panel-google-plus > .dropdown > span > span {
    font-size: 10px;   
}
.panel-google-plus > .dropdown > .dropdown-menu {
    left: initial;
    right: 0px;
    border-radius: 2px;
}
.panel-google-plus > .panel-google-plus-tags {
    position: absolute;
    top: 35px;
    right: -3px;
}
.panel-google-plus > .panel-google-plus-tags > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover {
    box-shadow: 0px 0px 3px rgb(0, 0, 0);   
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li {
    display: block;
    right: 0px;
    width: 0px;
    padding: 5px 0px 5px 0px;
    background-color: rgb(245, 245, 245);
    font-size: 12px;
    overflow: hidden;
}
.panel-google-plus > .panel-google-plus-tags > ul > li::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
	border-right: 3px solid rgb(66, 127, 237);
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li,
.panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
    padding: 5px 15px 5px 10px;
    width: auto;
    cursor: pointer;
    margin-left: auto;
}
.panel-google-plus > .panel-google-plus-tags > ul:hover > li {
    background-color: rgb(255, 255, 255);   
}
.panel-google-plus > .panel-google-plus-tags > ul > li:hover {
    background-color: rgb(66, 127, 237);
    color: rgb(255, 255, 255);
}
.panel-google-plus > .panel-heading,
.panel-google-plus > .panel-footer {
    background-color: rgb(255, 255, 255);
    border-width: 0px; 
}
.panel-google-plus > .panel-heading {
    margin-top: 20px;    
    padding-bottom: 5px; 
}
.panel-google-plus > .panel-heading > img { 
    margin-right: 15px;
}
.panel-google-plus > .panel-heading > h3 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
}
.panel-google-plus > .panel-heading > h5 {
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
}
.panel-google-plus > .panel-body {
    padding-top: 5px;
    font-size: 13px;
}
.panel-google-plus > .panel-body > .panel-google-plus-image {
    display: block;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(217, 217, 217);
}
.panel-google-plus > .panel-body > .panel-google-plus-image > img {
    max-width: 100%;
}

.panel-google-plus > .panel-footer {
    font-size: 14px;
    font-weight: 700;
    min-height: 54px;
}
.panel-google-plus > .panel-footer > .btn {
    float: left;
    margin-right: 8px;
}
.panel-google-plus > .panel-footer > .input-placeholder {
    display: block;
    margin-left: 98px;
    color: rgb(153, 153, 153);
    font-size: 12px;
    font-weight: 400;
    padding: 8px 6px 7px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
    display: none;   
}
.panel-google-plus > .panel-google-plus-comment {
    display: none;
    padding: 10px 20px 15px;
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(245, 245, 245);
}
.panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
    display: block;
}
/*.panel-google-plus > .panel-google-plus-comment > img {
    float: left;   
}*/
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
    float: right;
    width: calc(100% - 56px);
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
    display: block;
    /*margin-left: 60px;
    width: calc(100% - 56px);*/
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}
.panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
    margin-top: 10px;
    margin-right: 8px;
    width: 100%;
}
@media (min-width: 992px) {
    .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
        width: auto;
    }    
}


.panel-google-plus .btn {
    border-radius: 3px;   
}
.panel-google-plus .btn-default {
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}
.panel-google-plus .btn-default:hover, 
.panel-google-plus .btn-default:focus, 
.panel-google-plus .btn-default:active {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);    
}

.menu{
    width: 15%;
    height: 100%;
}
.menu nav{
    width: 100%;
    height: 30%;
    margin-top: 40%;
}
.manu nav ul{

}
.manu nav ul li{

}


.stand_button{
    width: 80%;
    height: 15%;
    color: white;
    background-color: rgb(22, 166, 255);
    border: 0;
    margin-top: 5px;
    border-radius: 5px;
}

#modalcontainer{
    position: absolute;
    z-index: 1000;
    width: 60%;
    height: 0;
    background-color: white;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    border-radius: 7px;
}

#blackground{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.8);
}

.modalcontent{
    width: 95%;
    height: 95%;
    margin: 2.5% 2.5% 2.5% 2.5%;
} 
.modalcontent h1,h3{
    text-align: center;
}


.comment_container{
    width: 100%;
}

.friends_blocks{
    width: 100%;
    height: 100px;
}
.friends_blocks article{
    width: 100%;
    height: 100%;
    color: black;
}
.img_friend img{
    width: 100%;
    height: 90%;
    border-radius: 50%;
}
.img_friend{
    width: 100%;
    height: 80%;
}
.a_art{
    width: 30%;
    height: 100%;
    padding-right: 3%;
    float: left
}

.user_data{
    background-color: white
}
.logo_text{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid grey;
    padding-left: 1%;
}
.logo_text h1{
    font-size: 20px;
}
.info{
    width: 100%;
    height: 50%;
    padding-top: 20px;
    padding-right: 60px;
}
.info ul{
    list-style-type: none;
}

.form_modal{
    width: 100%;
    height: 30%;
    margin: 0 auto;
}
.form_modal form input{
    margin: 0 auto;
}
.in_mod{
    margin: 0 auto;
}

.img_list{
    width: 100%;
    height: 125px;
}
.img-list-container{
    width: 97%;
    height: 100%;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 25% 25% 25% 25%;
}
.img-grid{
    background-color: red;
}
.img-grid img{
    width: 100%;
    height: 100%;
}